<h1>Restaurants</h1>
<a href="/restaurants/new">Create a Restaurant</a>
<% @restaurants.each do |restaurant| %>
  <p> 
  <a href="/restaurants/<%= restaurant.id %>"> 
  <%= restaurant.name %></a> - 
  <%= restaurant.location %> - 
  <%= restaurant.cuisine %> 
   <% if restaurant.users && current_user.id == restaurant.users.id %> 
      <a href="/restaurants/<%= restaurant.id %>/edit">(edit)</a> </p>
<% end  %>
<% end  %>


