<h1>Restaurants</h1>
<a href="/restaurants/new">Create a Restaurant</a>
<% @restaurants.each do |restaurant| %>
  <p> 
  <a href="/restaurants/<%= restaurant.id %>"> 
  <%= restaurant.name %></a> - 
  <%= restaurant.location %> - 
  <%= restaurant.cuisine %> 
  <% if session[:user_id]== restaurant[:user_id] %>
  <a href="/restaurants/<%= restaurant.id %>/edit">(edit)</a> </p>
 <% end  %>
 <% end  %>



