<h1>Restaurants</h1>
<a href="/restaurants/new">Create a Restaurant</a>
<% @restaurants.each do |restaurant| %>
  <p> <a href="/restaurants/<%= restaurant.id %>"> <%= restaurant.name %></a></p>
   <p><%= restaurant.location %></p>
   <p><%= restaurant.cuisine %></p>
   <a href="/restaurants/<%= restaurant.id %>/edit">Edit</a>
<% end  %>
